@page "/"

@inject IJSRuntime js
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<input type="checkbox" @onchange="@(()=>isShow = !isShow)">
<Books BookList="BookList" isShow="isShow" DeleteBook="DeleteBook"></Books>
<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    public bool isShow { get; set; } = false;
    List<Book> BookList;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        BookList = new List<Book>()
{
new Book{Id = 1,Title = "Book 1",Author = "Author 1"},
new Book{Id = 2,Title = "Book 2",Author = "Author 2"},
new Book{Id = 3,Title = "Book 3",Author = "Author 3"},
new Book{Id = 4,Title = "Book 4",Author = "Author 4"}
};


    }

    private async Task DeleteBook(Book book)
    {
        var confirm = await js.InvokeAsync<bool>("confirm", $"Are you sure you want to delete book {book.Title}?");
        if (confirm)
        {

            BookList.Remove(book);
        }
    }
}